
@{
    ViewBag.Title = "Manual";
    Layout = "~/Views/Shared/_LayoutPagePhone.cshtml";
}
<div class="container">
    <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); background-color: rgb(234, 241, 241);">Main benefits for you</h3><div class="bs-callout bs-callout-primary" style="color: rgb(51, 51, 51); background-color: rgb(234, 241, 241);"><ol><li>You have options to reduce your advertisement investment.</li><li>Quickly find what you need.</li><li>You can publish your advertisements as many as you want.</li><li>All the features in this website is totally free forever.</li><li>This website welcome for anyone.</li></ol></div><h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); background-color: rgb(234, 241, 241);">Tips</h3><div class="bs-callout bs-callout-info" style="color: rgb(51, 51, 51); background-color: rgb(234, 241, 241);"><ol><li><a href="https://www.youtube.com/watch?v=ZZ2OPBDM1hM" target="_blank">Log in the application</a></li><li><a href="https://www.youtube.com/watch?v=K13hEoCbqMY" target="_blank">Pulish my first advertisement</a></li><li><a href="https://www.youtube.com/watch?v=gUZBKlDpQL0" target="_blank">Create a mult-language advertisement</a></li></ol></div>
</div>
