<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <style>
        body {
            padding: 0px;
        }

        .portfolio-modal .modal-content {
            padding: 10px 0;
        }

            .portfolio-modal .modal-content h1 {
                font-size: 16px;
            }

            .portfolio-modal .modal-content h2 {
                font-size: 14px;
            }

            .portfolio-modal .modal-content h3 {
                font-size: 12px;
            }
    </style>
    <div>
        @RenderBody()
    </div>
</body>
</html>
